.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  transition: 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
}

.menu-container.coffee,
.menu-container.coffee .menuCategoryButtonCircle {
  background-color: #f0ccb9;
}

.menu-container.tea,
.menu-container.tea .menuCategoryButtonCircle {
  background-color: #c9e994;
}

.menu-container.milk,
.menu-container.milk .menuCategoryButtonCircle {
  background-color: #f9ecd2;
}

.menu-container.sparkling,
.menu-container.sparkling .menuCategoryButtonCircle {
  background-color: #ffe664;
}

.menu-container a {
  color: black;
}

.menu-container .triangle {
  position: fixed;
  width: 150px;
  right: 30px;
  z-index: -1;
}

.menu-container > .header {
  height: 84px;
  padding: 0px 12px 0px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container h1 {
  font-family: "Mont";
  font-weight: 400;
  font-size: 22px;
}

.menu-container button.authorize {
  border: none;
  background-color: white;
  border-radius: 15px;
  display: flex;
  padding-right: 8px;

  gap: 12px;
  align-items: center;
  font-size: 12px;
}

.menu-container .phoneIconWrapper {
  background-color: #f5d00b;
  border-radius: 15px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container .phoneIcon {
  height: 18px;
  width: auto;
}

.categoryMenuContainer {
  border-radius: 16px 16px 0px 0px;
  background-color: #f3f3f3;
  height: 160px;
  display: flex;
  overflow: hidden;
}

.categoryMenuContainer .line {
  width: 1px;
  height: 100%;
  background-color: #DCDCDC;
}


