.pay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 36px 12px 24px 12px;
  background-color: #f5d009;
}

.pay .back-button {
  align-self: center;
}

.pay .main-container {
  flex-grow: 1;
}

.pay .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  justify-content: center;
  padding-left: 6px;
  padding-right: 6px;
}

.pay .main-container img {
  width: 180px;
  height: auto;
}

.pay .main-container h1.title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}


.pay .button-container {
  width: 100%;

}

.pay .button-container button {
  width: 100%;
}