@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Mont", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


